@model InAndOut.Models.Expense

<form method="post" asp-action="Create">
    <div class="border p-3">
        <!-- <div class="text-danger" asp-validation-summary="All"></div> -->
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Expense</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ExpenseName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Amount"></label>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input type="text" asp-for="ExpenseName" class="form-control" />
                        <span asp-validation-for="ExpenseName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input type="number" asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 text-center row offset-2">
                        <div class="col">
                            <button type="submit" class="btn btn-info w-75">Create</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ <partial name="_ValidationScriptsPartial" /> }
}
